input[type="range"]{

	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100px; /* Specific width is required for Firefox. */
	background: transparent; 
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
  }
  input[type=range]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 25px;
	width: 10px;
	padding:7px !important;
	/* border-radius: 3px;
	background: #ffffff; */
	cursor: pointer;
	margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	/* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; Add cool effects to your sliders! */
  }

  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #fff, 0px 0px 1px #0d0d0d;
	background: #000;
	border-radius: 1.3px;
	border: 2px solid #fff;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #000;
  }


.sliderControl {
	height: 150px;
	width: 75px;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sliderControl label {

}
.sliderControl input {
	transform: rotate(270deg);
    height: 138px;
	width: 100px;
}

.sliderControls {
    display: flex;
    position: absolute;
	left: 220px;
    top: 129px;
    width: fit-content;
	height: fit-content;
}

body {
    margin: 2em; 
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 0 1px 0 black;
}

.group {
    border: 2px solid #121212;
    height: 36px;
	display: flex;
	width: fit-content;
    border-radius: 3px;
    background: #222;
    background-clip: border-box;
}

input[type="button"], 
input[type="radio"], 
input[type="checkbox"] {
    /* hide the inputs */
    opacity: 0;
    display: none;
    margin: 0;
}

/* style your lables/button */
input[type=range]::-webkit-slider-thumb,
input[type="button"] + label, 
input[type="radio"] + label, 
input[type="checkbox"] + label {
    /* keep pointer so that you get the little hand showing when you are on a button */
    cursor: pointer;
    /* the following are the styles */
    float: left;
    padding: 9px 21px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7), 0 0 0 hsla(208.12, 44.44%, 85.88%, 0);
    color: #fff;
    font-weight: bold;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 6px 10px -1px rgba(0,0,0,0.6);
    background: -moz-linear-gradient(top, #37373d 0%, #222228 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37373d), color-stop(100%,#222228)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #37373d 0%,#222228 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #37373d 0%,#222228 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #37373d 0%,#222228 100%); /* IE10+ */
    background: linear-gradient(to bottom, #37373d 0%,#222228 100%); /* W3C */
}
input[type="button"]:active + label,
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label{
    /* style for the checked/selected state */
    text-shadow: 0 0 10px hsla(208.12, 44.44%, 85.88%, 1);
    color: #fff;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.4), inset 0 0 4px 4px rgba(0,0,0,0.1);
    background: -moz-linear-gradient(top, #313137 0%, #1e1e24 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313137), color-stop(100%,#1e1e24)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #313137 0%,#1e1e24 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #313137 0%,#1e1e24 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #313137 0%,#1e1e24 100%); /* IE10+ */
    background: linear-gradient(to bottom, #313137 0%,#1e1e24 100%); /* W3C */
}

.group > label {
    border-radius: 2px;
}

.center {
    border-left: 1px solid #121212;
    border-right: 1px solid #121212;
}